@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fraunces", serif;
	font-weight: normal;
}
/* header {
	color: #fff;
	position: relative;
	width: 100%;
	height: 50vh;
	overflow: hidden;
}
header .content {
	position: relative;
	z-index: 1;
	margin: 0 auto;
	max-width: 900px;
	text-align: center;
}

header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: radial-gradient(
		200% 502px at 50% -30px,
		hsl(273, 85%, 13%) 75%,
		transparent 75%
	);
}
header::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: green;
} */
#wrapped-sections {
	position: relative;
}
#wrapped-sections #spacer {
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 200px;
	background-color: hsl(276, 100%, 99%);
	top: 224px;
}
.section1 {
	height: 520px;
	background-color: hsl(273, 85%, 13%);
	clip-path: ellipse(150% 55% at 48% 44%);
}

#section2 {
	background-color: hsl(276, 100%, 99%);
	height: 320px;
	clip-path: ellipse(100% 55% at 48% 44%);
}
header h1 {
	max-width: 14ch;
}
.shape {
	background: radial-gradient(
		200% 740px at 50% -30px,
		hsl(273, 85%, 13%) 75%,
		transparent 75%
	);
	height: 650px;
}
.hero-pattern,
.hero-pattern-2 {
	display: none;
	position: absolute;
}
.hero-img {
	max-width: 320px;
	top: 432px;
	left: 30px;
	z-index: 5;
}

@media (min-width: 767px) {
	.shape {
		background: radial-gradient(
			200% 768px at 50% -30px,
			hsl(273, 85%, 13%) 75%,
			transparent 75%
		);
		height: 740px;
	}
	.hero-pattern {
		display: block;
		top: 255px;
		right: -106px;
	}
	.hero-pattern-2 {
		display: block;
		left: -230px;
		top: 70px;
	}
	.hero-img {
		left: 150px;
	}
}
@media (min-width: 1439px) {
	header h1 {
		font-size: 5rem;
	}
	.shape {
		background: radial-gradient(
			200% 890px at 50% -30px,
			hsl(273, 85%, 13%) 75%,
			transparent 75%
		);
		height: 930px;
	}
	.hero-pattern {
		display: block;
		top: 250px;
		right: -48px;
	}
	.hero-pattern-2 {
		display: block;
		left: -140px;
		top: 100px;
	}
	.hero-img {
		max-width: 767px;
		top: 380px;
		left: 350px;
	}
}
