@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
}
body {
	font-family: "Manrope", sans-serif;
	font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fraunces", serif;
	font-weight: normal;
	color: hsl(273, 85%, 13%);
}
#wrapped-sections {
	overflow: hidden;
	position: relative;
}
#wrapped-sections #spacer {
	position: absolute;
	z-index: -2;
	width: 100%;
	height: 350px;
	background-color: hsl(276, 100%, 99%);
	top: 25%;
}

header h1 {
	max-width: 14ch;
}

.section1 {
	height: 30.106875rem;
	clip-path: ellipse(150% 55% at 48% 44%);
}

.section2 {
	margin-bottom: 100px;
	clip-path: ellipse(150% 55% at 48% 44%);
}
.section3 {
	height: 80vh;
}
.section3 .img {
	width: 281px;
	top: 150px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.section3 .content {
	width: 90%;
	top: 380px;
	left: 50%;
	transform: translate(-50%, -50%);
}
.section3 .content h2 {
	font-size: 2rem;
}

/* Backgrounds and Patterns */
.hero-pattern,
.hero-pattern-2 {
	display: none;
	position: absolute;
}
.hero-img {
	z-index: 5;
	top: 475px;
	left: 53%;
	transform: translate(-50%, -50%);
	width: 320px;
	margin: auto;
}

.number-header {
	font-size: 1.75rem;
}

@media (min-width: 768px) {
	.number-text {
		max-width: 50ch;
	}
	#section1 {
		height: 540px;
	}
	#wrapped-sections #spacer {
		top: 30%;
	}
	#wrapped-sections .hero-pattern,
	#wrapped-sections .hero-pattern-2 {
		display: block;
		z-index: 5;
	}
	#wrapped-sections .hero-pattern {
		top: 255px;
		right: -106px;
	}
	#wrapped-sections .hero-pattern-2 {
		left: -230px;
		top: 70px;
	}
	.hero-img {
		width: 514px;
		top: 530px;
	}
}
@media (min-width: 1439px) {
	.number-header {
		font-size: 2rem;
	}
	.number-text {
		max-width: 40ch;
	}
	.section1 {
		height: 730px;
	}
	.section2 {
		height: 30vh;
	}
	header h1 {
		font-size: 5rem;
	}
	#wrapped-sections #spacer {
		top: 48%;
		height: 500px;
	}
	#wrapped-sections .hero-pattern {
		display: block;
		top: 250px;
		right: -50px;
	}
	#wrapped-sections .hero-pattern-2 {
		display: block;
		left: -150px;
		top: 100px;
	}
	.hero-img {
		width: 767px;
		top: 680px;
	}
}
