@tailwind base;
@tailwind components;
@tailwind utilities;

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Fraunces", serif;
}

.shape {
	background: radial-gradient(
		175% 600px at 50% -30px,
		hsl(273, 85%, 13%) 75%,
		transparent 75%
	);
	height: 560px;
}
.hero-pattern,
.hero-pattern-2 {
	display: none;
	position: absolute;
}

@media (min-width: 767px) {
	.shape {
		background: radial-gradient(
			175% 540px at 50% -30px,
			hsl(273, 85%, 13%) 75%,
			transparent 75%
		);
		height: 540px;
	}
	.hero-pattern {
		display: block;
		top: 85px;
		right: -106px;
	}
	.hero-pattern-2 {
		display: block;
		left: -230px;
		top: 20px;
	}
}
@media (min-width: 1439px) {
	.shape {
		background: radial-gradient(
			175% 730px at 50% -30px,
			hsl(273, 85%, 13%) 75%,
			transparent 75%
		);
		height: 730px;
	}
	.hero-pattern {
		display: block;
		top: 150px;
		right: -48px;
	}
	.hero-pattern-2 {
		display: block;
		left: -140px;
		top: 60px;
	}
}
